{{ define "main" }}

<head>
<title>{{ .Site.Title }}</title>
<link rel='stylesheet' href='/homepage.css'>
</head>

<body>
<h1 class="title">{{ .Site.Title }}</h1>

{{ .Content }}

hello

</body>

{{ end }}
